<div class="col-md-6 offset-md-3 mt-3" >
<%= form_with model: @user, data: { turbo: false }, url: sign_up_path do |form| %>

    <h1 class="text-center mb-3">Sign up</h1>
    <% if @user.errors.any? %>
        <div class="alert alert-danger" role="alert">
            <% @user.errors.full_messages.each do | message | %>
                <div>
                    <%= message %>
                </div>
            <% end %>
        </div>
    <% end %>
    <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "example@mail.com"  %>
    </div>
    
    <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "password"    %>
    </div>

    <div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password"   %>
    </div>
    
    <div class="mb-3">
        <%= form.submit "Sign Up", class: "btn btn-primary", style: "border-radius:0;" %>
    </div>

<% end %>
