<div class="col-md-6 offset-md-3 mt-3" >
<%= form_with model: Current.user, data: { turbo: false }, url: edit_password_path do |form| %>

    <h1 class="text-center mb-3">Edit Password</h1>
    <% if form.object.errors.any? %>
        <div class="alert alert-danger" role="alert">
            <% form.object.errors.full_messages.each do | message | %>
                <div>
                    <%= message %>
                </div>
            <% end %>
        </div>
    <% end %>
    <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "password"    %>
    </div>

    <div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password"   %>
    </div>
    
    <div class="mb-3">
        <%= form.submit "Update Password", class: "btn btn-primary", style: "border-radius:0;" %>
    </div>

<% end %>
